// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//Icons
@import '~@fortawesome/fontawesome-free/css/all.css';

//My Styles
section{
    margin-bottom: 2.5vh;
    box-shadow: .25vw .5vh rgba(0,0,0,.5);
}
//Text
.text-primary-color{
    color: $PRIMARY_COLOR !important;
}
//Backgrounds
.bg-primary-color{
    background-color: $PRIMARY_COLOR;
}
.bg-secondary-color{
    background-color: $SECONDARY_COLOR;
}
.bg-dark-color{
    background-color: $DARK_COLOR;
}
.bg-light-color{
    background-color: $LIGHT_COLOR;
}
//Containers
body{
    margin: 0;
    padding: 0;
    background-color: $LIGHT_COLOR;

}
nav{
    background-color: $DARK_COLOR;
    font-family: 'Lobster Two', cursive;
}
.nav-link{
    font-size: 2vh;
}
.navbar-toggler{
    border-color: $LIGHT_COLOR !important;
}
#banner{
    background-image: url('../../public/img/bg-banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    width: 'auto';
    justify-content: center;
    padding: 8vh 15vw 5vh 15vw;

}
#banner h1{
    font-size: 10vh;
    font-weight: bold;
    color: $PRIMARY_COLOR;
    font-family: 'Lobster Two', cursive;
    padding-bottom: 2vh;
    margin-top: 5vh;

}
#banner p{
    font-size: 3vh;
    color: $LIGHT_COLOR;
    padding-bottom: 2vh;

}
.logo{
    font-size: 3.5vh;
}
.info{
    background-image: url('../../public/img/bg-banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    width: 'auto';
    justify-content: center;
    padding: 5vh 5vw;
    border-radius: 25vh;
    text-align: center;

}
.info h1{
    font-size: 8vh;
    font-weight: bold;
    color: $LIGHT_COLOR;
    font-family: 'Lobster Two', cursive;
    margin-bottom: 7.5vh;
    margin-top: 5vh;
    text-shadow: 2px 3px rgba(0,0,0,.5);

}
.info p{
    font-size: 3vh;
    color: $LIGHT_COLOR;

}
.info-two{
    background-image: url('../../public/img/bg-banner3.png');

}
